.git
.gitignore
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.coverage
htmlcov
.ruff_cache
.env
.env.local
config/local.yml
tests
docs
internal
.internal
*.md
!README.md
!src/**/*.md
.DS_Store
docker-compose.yml
docker-compose.override.yml
Dockerfile
